project:
  type: website

website:
  title: "<i class='bi bi-house-fill'></i>"
  site-url: "https://mlr-org.com/"
  favicon: images/favicon.ico
  reader-mode: true
  page-footer:
    center: "Copyright 2022 - mlr-org team"
    right: Created with <i class="bi bi-heart-fill"></i> for \#rstats. Website powered by [quarto](https://quarto.org/).
    # background: light
  # https://quarto.org/docs/websites/website-navigation.html#side-navigation
  sidebar:
    style: "floating"
    collapse-level: 4
    search: true
    fontsize: "20px"
    subtitle: "faa"
    border: false
    pinned: true
    # alignment: "center"
    # contents:
    #   - index.qmd
    #   - updates.qmd
    #   - section: "**RStudio Products**"
    #     contents:
    #       - rsw.qmd
    #       - rsc.qmd
    #       - rspm.qmd
    #       - shiny.qmd
    #       - rsos.qmd
    #   - section: "**Best Practices / How to**"
    #     contents:
    #       - rspm-snapshots.qmd
    #       - renv.qmd
    #       - git.qmd
    #       - r-lts.qmd
    #       - local-pkgs.qmd
    #   - help.qmd
  navbar:
    # logo: "images/logo_color.png"
    background: "#fff"
    navbar-border-left: "#03638E"
    left:
      - text: "Changelog <i class='bi bi-arrow-up-circle'></i>"
        href: posts/2022-04-25-mlr3-package-updates-q12022/mlr3-package-updates-q12022.html
    right:
      - text: "Overview"
        menu:
           - packages.qmd
           - text: "---"
           - tasks.qmd
           - learners.qmd
           - resamplings.qmd
           - measures.qmd
           - text: "---"
           - pipeops.qmd
           - graphs.qmd
           - text: "---"
           - tuners.qmd
           - tuning_spaces.qmd
           - terminators.qmd
           - text: "---"
           - filters.qmd
           - fselectors.qmd
      - resources.qmd
      - book.qmd
      - blog.qmd
      - gallery.qmd

      - text: "Team"
        menu:
          - text: Bernd Bischl
            href: team/about-bernd.qmd
          - team/about-michel.qmd
      - text: "More"
        menu:
          - support.qmd
          - contributing.qmd
          - blogroll.qmd

      - icon: mattermost
        href: https://twitter.com/cynkra_com
      - icon: rss
        menu:
          - text: "Blog RSS"
            href: posts/index.xml
          - text: "Gallery RSS"
            href: gallery/index.xml
      - icon: github
        href: https://github.com/mlr-org
      # - icon: globe
      #   href: https://www.cynkra.com
  search:
    location: navbar
    type: "textbox"
    limit: 5
    copy-button: true
    collapse-after: 2

format:
  html:
    page-layout: article # https://quarto.org/docs/output-formats/page-layout.html#custom
    theme:
      light: [Yeti, custom.scss]
    mainfont: "Roboto"
    monofont: "JetBrains Mono"
    fontsize: "16px"
    linkcolor: "#184fa9"
    monobackgroundcolor: "#f6f6f6"
    code-color: "fff"
    toc: true

bibliography: bibliography.bib
