project:
  type: website

website:
  title: "mlr-org"
  site-url: https://mlr-org.com/
  description: Website of the mlr organization
  favicon: images/favicon.ico
  # reader-mode: true
  page-footer:
    center: "Copyright 2022 - mlr-org team"
    right: Created with <i class="bi bi-heart-fill"></i> for \#rstats. Website powered by [quarto](https://quarto.org/).
    # background: light
  # https://quarto.org/docs/websites/website-navigation.html#side-navigation
  sidebar:
    style: "floating"
    collapse-level: 4
    search: true
    fontsize: "20px"
    subtitle: "faa"
    border: false
    pinned: true
  navbar:
    # logo: "images/logo_color.png"
    background: "#fff"
    navbar-border-left: "#03638E"
    left:
      - text: "Changelog <i class='bi bi-arrow-up-circle'></i>"
        href: posts/2022-10-18-mlr3-package-updates-q32022/
    right:
      - text: "Overview"
        menu:
           - ecosystem.qmd
           - text: "---"
           - tasks.qmd
           - learners.qmd
           - resamplings.qmd
           - measures.qmd
           - text: "---"
           - pipeops.qmd
           - graphs.qmd
           - text: "---"
           - tuners.qmd
           - tuning_spaces.qmd
           - terminators.qmd
           - text: "---"
           - filters.qmd
           - fselectors.qmd
      - resources.qmd
      - book.qmd
      - blog.qmd
      - gallery.qmd
      - new_gallery.qmd
      - team.qmd
      - text: "More"
        menu:
          - support.qmd
          - contributing.qmd
          - blogroll.qmd

      - icon: rss
        menu:
          - text: "Blog RSS"
            href: posts/index.xml
          - text: "Gallery RSS"
            href: gallery/index.xml
      - icon: chat-dots
        href: https://lmmisld-lmu-stats-slds.srv.mwn.de/mlr_invite
      - icon: stack-overflow
        href: https://stackoverflow.com/questions/tagged/mlr3
      - icon: github
        href: https://github.com/mlr-org

  search:
    location: navbar
    type: "textbox"
    limit: 5
    copy-button: true
    collapse-after: 2

format:
  html:
    page-layout: article # https://quarto.org/docs/output-formats/page-layout.html#custom
    theme:
      light: [Yeti, custom.scss]
    mainfont: "Roboto"
    monofont: "JetBrains Mono"
    fontsize: "16px"
    monobackgroundcolor: "#f6f6f6"
    code-color: "#000"
    toc: true

bibliography: publications.bib
