/*-- scss:defaults --*/
$code-color: "#f6f6f6";
// $bs-light-rgb: 248, 249, 250 !important;
/*-- scss:rules --*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|JetBrains+Mono&display=swap");

footer.footer .nav-footer,
#quarto-header nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.aa-Autocomplete .aa-Form,
.aa-DetachedFormContainer .aa-Form {
        border-radius: 6px !important;
}

// code blocks with code
p code:not(.sourceCode),
li code:not(.sourceCode),
kbd,
pre:not(.sourceCode),
samp {
        background-color: #f6f6f6 !important;
        padding: 0.25em;
        border-radius: 6px !important;
}

// code blocks without code
div.sourceCode {
        background-color: #f6f6f6 !important;
        border-radius: 6px;
}

.grid .g-col-md-5 {
        border-radius: 6px !important;
}

// extra spacing for biblio entries
div.csl-entry {
        clear: both;
        margin-bottom: 10px;
}

// icons

.bi-twitter {
        color: #1da1f2 !important;
}

// style of banner on homepage
.banner {
        width: 100%;
}

.center-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

// lighter gray in grids of "Resources" page
.bg-light {
        --bs-bg-opacity: 1;
        background-color: rgba(248, 249, 250, var(--bs-bg-opacity)) !important;
}
.rounded-3 {
        border-radius: 6px !important;
}

// theme toggle button
.navbar-collapse .quarto-color-scheme-toggle {
        margin-top: -6px;
}

// .navbar-brand>img {
//         padding-bottom: 5px;
//     }

.listings,
.listings2 {
        border-top: #455a64 solid 5px;
}

.listings3-icon-large-custom {
        text-align: center;
        font-size: 50px;
}
.listings3-text {
        text-align: center;
}

.listings4-icon-large-custom {
        // text-align: center;
        font-style: normal;
        font-size: 25px;
}

// colors all icons black within the listings3 environment
// .listings3.bi::before,
// [class^="bi-sliders"]::before {
//         color: black;
// }

.listings4.bi::before, [class*="bi-sliders"]::before {
        color: black;
        padding-right: 10px;
        font-style: normal !important;
}

.bi-arrow-up-circle {
        padding-left: 2px;
}

.bi-heart-fill {
        color: darkred;
        // padding-right: 0px !important;
}

// center btn-container class on frontpage
.btn-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

/* Stable color */
i.status-stable {
        color: #B4CFB0;
      }

      /* Experimental color */
      i.status-experimental {
        color: #FBC6A4;
      }

      /* Planed color */
      i.status-planned {
        color: #FF856A !important;
      }
