/*-- scss:defaults --*/
$code-color: #f6f6f6;
$grey-color: #f1f1f1;
$line-color: rgba(0, 0, 0, 0.2);
$mlr-color:  rgba(3, 99, 142, 1);
$link-color: rgba(3, 99, 142, 1);

/*-- scss:rules --*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|JetBrains+Mono&display=swap");

.grid {
  display: inline-grid;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 30px;

}

.grid-two {
  grid-template-columns: repeat(1, 1fr);

  @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
  }
}

.grid-three {
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
  }
}

.grid__item {
  vertical-align: top;
  max-width: 420px;
  text-align: left;
  padding: 10px;
  position: relative;

  &:hover {
    background-color: $gray-100;
  }
}

.grid__title {
  margin-top: 0;
  align-items: center;
  border-bottom: 1px solid $line-color;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
  padding-bottom: 0.5rem;
  color: $mlr-color;
}

.grid__title-icon {
  color: $black;
}

.grid__link-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.grid__list {
  margin-top: 10px;
}

.grid__item li:not(:last-child) {
  margin-bottom: 0;
}

.grid__title-link {
  color: $mlr-color;
  border-bottom: 0px;
  text-decoration: none;
}

.grid__status {
  font-size: 0.75rem;
  margin-left: 10px;

  &--stable {
    color: #b4cfb0;
  }

  &--experimental {
    color: #fbc6a4;
  }

  &--planned {
    color: #ff856a;
  }
}

.grid__item-footer {
  position: absolute;
  bottom: 0;
}

.grid__icon-footer {
  color: #000;
  border-bottom: 0px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 10px;

  &:hover {
    color: $mlr-color;
  }
}

.grid__link-footer {
  border-bottom: 0px;
  text-decoration: none;
}


.grid__text {

  &--footer {
    margin-bottom: 2em;
  }
}

.grid__item-footer {
  position: absolute;
  bottom: 0;
}



.feature-grid {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
  }
}

.feature-grid__item {
  text-align: center;
  padding: 30px;
}

.feature-grid__icon {
  padding-bottom: 15px;
}
.feature-grid__a {
  border-bottom: 0px;
  text-decoration: none;
}

.feature-grid__i {
  font-size: 3rem;
  color: #000;

  &:hover {
    color: $mlr-color;
  }
}

.rt-th {
  border-bottom: 1px solid $line-color !important;
}

.object-table__list {
  list-style-type: none;
}


footer.footer .nav-footer,
#quarto-header nav {
        border-bottom: 1px solid $line-color !important;
}

.aa-Autocomplete .aa-Form,
.aa-DetachedFormContainer .aa-Form {
        border-radius: 6px !important;
}

// code blocks with code
p code:not(.sourceCode),
li code:not(.sourceCode),
kbd,
pre:not(.sourceCode),
samp {
        background-color: #f6f6f6 !important;
        padding: 0.25em;
        border-radius: 6px !important;
}

// code blocks without code
div.sourceCode {
        background-color: #f6f6f6 !important;
        border-radius: 6px;
}

.grid .g-col-md-5 {
        border-radius: 6px !important;
}

// extra spacing for biblio entries
div.csl-entry {
        clear: both;
        margin-bottom: 10px;
}

// icons

.bi-twitter {
        color: #1da1f2 !important;
}

// style of banner on homepage
.banner {
        width: 100%;
}

.center-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

// lighter gray in grids of "Resources" page
.bg-light {
        --bs-bg-opacity: 1;
        background-color: rgba(248, 249, 250, var(--bs-bg-opacity)) !important;
}
.rounded-3 {
        border-radius: 6px !important;
}

// theme toggle button
.navbar-collapse .quarto-color-scheme-toggle {
        margin-top: -6px;
}

// .navbar-brand>img {
//         padding-bottom: 5px;
//     }

.listings,
.listings2 {
        border-top: #455a64 solid 5px;
}

.listings3-icon-large-custom {
        text-align: center;
        font-size: 50px;
}
.listings3-text {
        text-align: center;
}

.listings4-icon-large-custom {
        // text-align: center;
        font-style: normal;
        font-size: 25px;
}

// colors all icons black within the listings3 environment
// .listings3.bi::before,
// [class^="bi-sliders"]::before {
//         color: black;
// }

.listings4.bi::before,
[class*="bi-sliders"]::before {
        color: black;
        padding-right: 10px;
        font-style: normal !important;
}

.bi-arrow-up-circle {
        padding-left: 2px;
}

.bi-heart-fill {
        color: darkred;
        // padding-right: 0px !important;
}

// center btn-container class on frontpage
.btn-container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

/* Stable color */
i.status-stable {
        color: #b4cfb0;
}

/* Experimental color */
i.status-experimental {
        color: #fbc6a4;
}

/* Planed color */
i.status-planned {
        color: #ff856a !important;
}

// force date cell to not break
.listing-date {
        width: 100px;
}

// color of pagination buttons (1, 2)
.page-item.active .page-link {
        background-color: #184fa9;
        border-color: #184fa9;
    }
