```{=html}
<ul>
  <% for (const item of items) {
       if (item.listing === false) continue;
  %>
    <li>
      <a href="<%- item.href %>"><%= item.title %></a>
      <p><%= item.description %></p>
    </li>
  <% } %>
</ul>
```
