on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: build-website

jobs:
  build-website:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          r-version: 'release'

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: |
            any::devtools

      - name: Install Packages
        run: devtools::install()
        shell: Rscript {0}

      - name: Build Website
        run: rmarkdown::render_site(input = "mlr-org", encoding = "UTF-8")
        shell: Rscript {0}

      # bug in render_site deletes rss feed
      # rss feed with last post can be restored by rendering the post again
      # https://github.com/rstudio/distill/issues/381
      - name: Restore RSS Feed
        run: |
          files = list.files("mlr-org/_posts", ".Rmd", full.names = TRUE, recursive = TRUE)
          rmarkdown::render(files[length(files)], encoding = "UTF-8")
        shell: Rscript {0}

      - name: Deploy
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages
          folder: mlr-org/docs
          single-commit: false
