on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'mlr-org/_gallery/**'
  pull_request:
    branches:
      - main
    paths:
      - 'mlr-org/_gallery/**'
  schedule:
    - cron: "0 6 * * *"

name: render-gallery

jobs:
  render-gallery:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          r-version: 4.1.3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::devtools
            mlr-org/mlr3proba

      - name: Install Packages
        run: devtools::install()
        shell: Rscript {0}

      - name: Render Gallery
        run: |
          files = list.files("mlr-org/_gallery/", pattern = ".Rmd", full.names = TRUE, recursive = TRUE)
          mlr3misc::walk(files, function(file) rmarkdown::render(file, encoding = "UTF-8", params = list(eval_all = FALSE)))
        shell: Rscript {0}

      - name: Build Website
        run: rmarkdown::render_site(input = "mlr-org", encoding = "UTF-8")
        shell: Rscript {0}

      # bug in render_site deletes rss feed
      # rss feed with last post can be restored by rendering the post again
      # https://github.com/rstudio/distill/issues/381
      - name: Restore RSS Feed
        run: |
          files = list.files("mlr-org/_posts", ".Rmd", full.names = TRUE, recursive = TRUE)
          rmarkdown::render(files[length(files)], encoding = "UTF-8")
        shell: Rscript {0}

      - name: Commit Results
        if: ${{ github.event_name == 'push' }}
        run: |
          rm -f .github/pkg.lock
          git config --local user.name "$GITHUB_ACTOR"
          git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --local pull.rebase false
          git pull
          git add -A
          git commit -m 'refactor: render gallery posts'
          git push origin

      - name: Deploy
        if: ${{ github.event_name == 'push' }}
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: gh-pages
          folder: mlr-org/docs
          single-commit: false
